app = "majo-villama"
primary_region = "sin"

[build]
  dockerfile = "Dockerfile"

[env]
  DATA_DIR = "/data"

[[mounts]]
  source = "data"
  destination = "/data"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
